* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #013c42;
}

.container {
    background-color: #02505986;
    padding: 24px;
    border-radius: 8px;
    width: 320px;
}

.preview-box {
    width: 200px;
    height: 200px;
    background-color: #F28705;
    border-radius: 50px;
    margin: 0 auto 24px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control label {
    font-size: 14px;
}

.control input {
    width: 140px;
}

.output {
    margin-top: 16px;
    background-color: #03A696;
    padding: 12px;
    border-radius: 4px;
    font-family: monospace;
    font-size: 13px;
}

#copy-btn {
    margin-top: 12px;
    width: 100%;
    padding: 8px;
    background-color: #038C8C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#copy-btn:hover {
    /* hover fare imleci ile üzerine gelindiğinde vereceği tepki */
    background-color: #026666;
}

.switch {
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#switch-btn {
    color: #ebeaea;
    padding: 8px;
    font-size: 15px;
    border-radius: 0.5em;
    background: #038C8C;
    cursor: pointer;
    border: 1px solid #038b8b;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #037c7c, -6px -6px 12px #037c7c;
    text-decoration: none;
}

#switch-btn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

#switch-btn:hover {
    background-color: #027575;
}

/* *********************************** 

.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.background span {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.15);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  width: 650px;
  height: 650px;
  border-radius: 
    74% 26% 29% 71% /
    44% 50% 50% 56%;

  transform-origin: -220px center;
  animation: orbit 26s linear infinite;
}

.background span:nth-child(2) {
  width: 460px;
  height: 460px;
  border-radius: 
    89% 11% 14% 86% /
    74% 80% 20% 26%;

  transform-origin: 310px center;
  animation: orbit 40s linear infinite;
}

.background span:nth-child(3) {
  width: 300px;
  height: 300px;
  border-radius: 
    35% 65% 22% 78% /
    74% 30% 70% 26%;

  transform-origin: -160px center;
  animation: orbit 22s linear infinite reverse;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*/
